body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

input {
  margin-bottom: 5px;
}

#loginCreateUser {
  display: flex;
  justify-content: space-around;  
}

#newDocumentMessage {
  margin-top: 20px;
}

#documents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.document {
  position: relative;
  width: 200px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: aqua;
  text-overflow: initial;
  
  
  h5, p {
    padding: 0 10px;
    margin: 15px 0;
  }
  
  p {
    overflow-wrap: break-word;
    font-size: 0.8rem;
  }

  button {
    position: absolute;
    bottom: 10px;
    right: 10px;

    &:nth-child(3) {
      right: 50px;
    }
  }
}