
body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

input {
  margin-bottom: 5px;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.505);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.245);

  &:active {
    box-shadow: none;
  }
}

.primary-btn {
  background-color: thistle;
  
  &:hover {
    background-color: rgb(180, 156, 180);
  }
}

#loginCreateUser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  height: 50px;
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid black;

  button {
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 15px;
  }
}

#newDocumentMessage {
  margin-top: 20px;
}

#documents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.document {
  position: relative;
  width: 200px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: thistle;
  text-overflow: initial;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.186);
  
  h5, p {
    padding: 0 10px;
    margin: 15px 0;
  }
  
  p {
    overflow-wrap: break-word;
    font-size: 0.8rem;
  }

  button {
    position: absolute;
    bottom: 10px;
    right: 10px;

    &:nth-child(3) {
      right: 50px;
    }
  }
}

#viewDocument {
  max-width: 750px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.478);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.209);
}

