@media only screen and (min-width: 460px) {
  .document {
    width: 200px;
    height: 150px;
  }
}

@media only screen and (min-width: 895px) {
  body {
    max-width: 950px;
    margin: 0 auto;
  }
  
  .document {
    width: 400px;
    height: 125px;
  }
}